
Mycraft.xcodeproj/project.xcworkspace/xcuserdata/Clapeysron.xcuserdatad/UserInterfaceState.xcuserstate
Mycraft.xcodeproj/xcuserdata/Clapeysron.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
*.xcuserstate
